{
    "singleQuote": false,
    "trailingComma": "all",
    "tabWidth": 4,
    "editor.formatOnSave": true,
    "printWidth": 88,
    "overrides": [
        {
            "files": "*.yaml",
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        },
        {
            "files": "tsconfig.json",
            "options": {
                "tabWidth": 2,
                "singleQuote": true
            }
        }
    ]
}
